{% extends "base.htm" %}
{% block title %}fecal funny{% endblock %}
{% block content %}
        <main class="container">
        <h1>Frequently Asked Questions</h1>
        <h3>What is a rendition?</h3>
        <p>
            A rendition is a version of a song. Think of it like having various casette tapes of varying qualities.<br/>
            There may be various casette tapes, one that sounds really good and one that sounds crunchy. The intent of this is to keep stuff sorted.<br/>
            Currently, renditions have to manually be chosen. In the future, these will automatically be chosen by the highest rated rendition.<br/>
        </p>
        <h3>What is ratings?</h3>
        <p>
            Album and track ratings are for personal "I like this!".<br/>
            Rendition ratings on the otherhand are used for quality selection.
        </p>
        <h3>Are there rules?</h3>
        <p>
            <ol>
                <li>Don't add troll songs (EG: Say it is John Music - Song when it is really ear rape)</li>
                <li>Don't add invalid metadata.</li>
            </ol>
            More will be added as needed. Right now those seem good enough.
        </p>
        <h3>What are the user roles?</h3>
        <p>
            <ol>
                <li>Banned - Only used in severe cases.</li>
                <li>Member - Default role everyone is in.</li>
                <li>Trusted - Has access to editing all albums/artists/tracks/renditions, including locked ones.</li>
                <li>Moderator - Same as trusted but can appoint trusted role, but can also delete entries and ban people.</li>
                <li>Admin - Backend access, can appoint moderators.</li>
            </ol>
        </p>
        <h3>How does artwork work?</h3>
        <p>
            Please use 256x256 textures.
        </p>
        </main>
{% endblock %}