{% extends "base.htm" %}
{% block title %}fecal funny{% endblock %}
{% block content %}
        <main class="container">
        <h1>Frequently Asked Questions</h1>
        <h3>What is a rendition?</h3>
        <p>
                A rendition is a version of a song. Think of it like having various casette tapes of varying qualities.<br/>
                There may be various casette tapes, one that sounds really good and one that sounds crunchy. The intent of this is to keep stuff sorted.<br/>
                Currently, renditions have to manually be chosen. In the future, these will automatically be chosen by the highest rated rendition.<br/>
        </p>
        <h3>What is ratings?</h3>
        <p>
                Album and track ratings are for personal "I like this!".<br/>
                Rendition ratings on the otherhand are used for quality selection.
        </p>
        </main>
{% endblock %}